body {
  background-image: url('http://i.imgur.com/1jocz1D.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
label {
  font-family: impact;
  font-size: 30pt;
  color: white;
}
#names {
  margin: auto;
  width: 60%
}
