<div align="center" style="font-family:impact; font-size:30pt;">
  <%= @damaged_player %> HP: <%= @damaged_player_hp %>
  <p><a href='/play'>Next round!</a></p>
  <img src="http://photosofcats.altervista.org/wp-content/uploads/2015/03/funny-scared-cats-compilation.jpg" height="300" width="450">
</div>
