<div align="center" style="font-family:impact; font-size:30pt;">
  <div>Game over: <%= @damaged_player %> has lost! :(</div>  
  <div><img src="http://www.ellagossip.com/wp-content/uploads/2015/06/HALP.jpeg" /></div>
</div>
