<div>
  <form id = "names" action='/names' method='post'>
      <label>Player 1 </label>
        <input type='text' name='player1' style="height:50px; font-size:30pt;">
        <input type='text' name='player2' style="height:50px; font-size:30pt;">
      <label> Player 2</label>

      <button type='submit'>Enter Battle!!</button>

        <p>No friends? Play a computer</p>
  </form>

</div>
