<form action='/names' method='post'>
  <label>Player 1:</label>
  <input type='text' name='player1'>
  <input type='text' name='player2'>
  <label>:Player 2</label>
  <input type='submit' value='Enter Battle!!'>
</form>
