<form action="/names" method="post">
  <h1>Player 1 Name</h1>
  <input type="text" name="player_1_name">
  <h1>Player 2 Name</h1>
  <input type="text" name="player_2_name">
  <input type="submit" value="Submit">
</form>
